<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Fdj-Eni{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="center grid-page">
    {#    {% block body %}{% endblock %} #}
    <header>
        <div>
            <a href="{{ path('main_index') }}">Accueil</a> .
            <a href="{{ path('jouer_index') }}">Jouer</a> .
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('main_tirage') }}">Tirage</a> .
                {% endif %}
                <a href="{{ path('app_logout') }}">Se déconnecter</a>

            {% else %}
                <a href="{{ path('app_register') }}">S'inscrire</a> .
                <a href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}
        </div>
    </header>
    <main>
         {% block main %}{% endblock %}
    </main>
    <footer>
{#       {% block footer %}  {% endblock %} #}
        {% set today = "now" %}
        <p>©FDJ ENI {{ today | date ("Y") }}</p>
    </footer>
    </body>
</html>
